<h2>Directives</h2>
<h3>Animalerie</h3>
<div>
    <h4>Encodage des animaux</h4>
    <div>
        <label for="name">Nom : </label>
        <input type="text" id="name" [(ngModel)]="animalName">
    </div>
    <div>
        <label for="specy">Espèce : </label>
        <select id="specy" [(ngModel)]="animalSpecy">
            <option value="none" selected disabled>Faîtes un choix</option>
            @for(specy of animalSpecies; track specy){
                <option>{{specy}}</option>
            }
        </select>
    </div>
    <div>
        <button (click)="onClickAjouterAnimal()">Ajouter</button>
    </div>
</div>
<div>
    @if(!animals || animals.length <= 0){
        <p>Pas encore d'animaux ...</p>
    }
    @else {
        <ul>
            @for(animal of animals; track animal.name){
                <li [class]="{isWalking : animal.isWalking}">{{animal.name}} ({{animal.specy}})
                    <button (click)="onClickSwitchWalking(animal)">
                        <!-- @if(animal.isWalking){
                            Revenir de balade
                        }
                        @else {
                            Partir en balade
                        } -->
                            {{(animal.isWalking)?'Revenir de balade':'Partir en balade'}}
                    </button>                    
                </li>
            }
        </ul>
    }
</div>
