<nav>
    <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/demos">Démonstrations</a>
            <ul>
                <li><a routerLink="/demos/intro">Introduction</a></li>
                <li><a routerLink="/demos/bindings">Bindings</a></li>
                <li><a routerLink="/demos/pipes">Pipes</a></li>
                <li><a routerLink="/demos/directives">Directives</a></li>
                <li><a routerLink="/demos/inputOutput">Communication par input/output</a></li>
            </ul>
        </li>
        <li><a routerLink="/exos">Exercices</a>
            <ul>
                <li><a routerLink="/exos/intro">Introduction</a></li>
                <li><a routerLink="/exos/routeComponent">Composants et routes</a></li>
                <li><a routerLink="/exos/chrono">Binding et pipes</a></li>
                <li><a routerLink="/exos/animal">Directives</a></li>
                <li><a routerLink="/exos/shopping">Input Output</a></li>
            </ul>
        </li>
    </ul>
</nav>
